body {
    background-image: url("../images/starwarsbg.jpg");
    background-size: cover;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
}

.row {
    margin-left: 20px;
}

/* character card styles */
.card {
    height: 150px;
    width: 150px;
    padding: 30px;
    background: #60d61b;
    border: 1px solid black;
    margin-bottom: 10px;
}

/* character name styles */
.card-title {
    margin-top: -20px;
    margin-left: -15px;
    position: absolute;
    font-size: medium;
    color: white;
}

/* character health points styles */
.card-text {
    margin-top: 105px;
    margin-left: -15px;
    font-size: medium;
    color: white;
    font-style: bold;
}

.card-img {
    height: 230 px;
    width: 230 px;
}

.container {
    width: 800px;
    margin-left: 0px;
}

#characters:hover {
    cursor: pointer;
}

.btn {
    color: white;
    background: black;
    margin-top: 10px;
}
